header
    nav.navbar
        .logo 🌌
        .title
            p MovieBinge
        div(id = "account" class = "user")
            .link
                a(href = "#") Login
                a(href = "#") SignUp 
            .profile Hello! Sourabh 😊




//- <header>
//-         <nav class="navbar">
//-             <div class="logo">
//-                 🌌
//-             </div>
//-             <div class="title">
//-                 <p>MovieBinge</p>
//-             </div>
//-             <div id = "account" class="user">
//-                 <div class = "link">
//-                     <a href="#">Login</a>&nbsp; &nbsp; &nbsp;
//-                     <a href="#">SignUp</a>
//-                 </div>
//-                 <div class="profile">
//-                     Hello! Sourabh 😊
//-                 </div>
//-             </div>
//-         </nav>
//-     </header>