<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/style.css">
    <title>🌌 MovieBinge | Get your favourite movies</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                🌌
            </div>
            <div class="title">
                <p>MovieBinge</p>
            </div>
            <div id="account" class="user">
                <div class="link">
                    <a href="#">Login</a>&nbsp; &nbsp; &nbsp;
                    <a href="#">SignUp</a>
                </div>
                <div class="profile">
                    Hello! Sourabh 😊
                </div>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="movie-container">
            <div class="movie-poster">
                <div>
                    <img src="./../images/poster/movie-1-poster.jpg" alt="movie-poster">
                </div>
                <div>
                    <img src="./../images/poster/movie-1-poster-1.jpg" alt="movie-poster">
                </div>
                <div>
                    <img src="./../images/poster/movie-1-poster-2.jpg" alt="movie-poster">
                </div>

                <p class="slider left-slider">◀</p>
                <p class="slider right-slider">▶</p>
            </div>

            <div class="movie-info">
                <p class="movie-title">DC League of Super Pets</p>
                <div class="movie-genre">
                    <div>Adventure</div>
                    <div>Action</div>
                    <div>Adventure</div>
                </div>
                <div class="movie-about">
                    <p class="movie-rating">Imdb Rating - 7.5 ⭐⭐⭐⭐</p>
                    <p class="movie-duration">🧭 1hr 45min</p>
                </div>
                <p class="movie-description">Release Date - 29 July 2022</p>
                <div>
                    <p class="subtitle">Directors</p>
                    <p>Jared Stern, Sam J. Levine</p>
                </div>
                <div>
                    <p class="subtitle">Writers</p>
                    <p>Jared Stern, John Wittington</p>
                </div>
                <div>
                    <p class="subtitle">Synopsis</p>
                    <p class="movie-description">When the Justice League are captured by Lex Luthor, Superman's dog,
                        Krypto, forms a team of shelter-pets
                        who were given super-powers: A hound named Ace, who becomes super-strong, a pig named PB, who
                        can grow
                        to giant-size, a turtle named Merton, who becomes super-fast, and a squirrel named Chip, who
                        gains
                        electric-powers.</p>
                </div>
                <div class = "watch">
                    <a href = "#" target="_blank">▶ Watch Now</a>
                </div>
            </div>
            <div class="movie-cast">
                <h1>Movie Cast</h1>
                <div class="cast-container">
                    <div class="actors">
                        <div><img src="./../images/cast/movie-1-cast-1.jfif" alt="movie-cast"></div>
                        <p>Dwayne Johnson</p>
                    </div>
                    <div class="actors">
                        <div><img src="./../images/cast/movie-1-cast-2.jfif" alt="movie-cast"></div>
                        <p>Kevin Hart</p>
                    </div>
                    <div class="actors">
                        <div><img src="./../images/cast/movie-1-cast-3.jfif" alt="movie-cast"></div>
                        <p>John Kransinski</p>
                    </div>
                    <div class="actors">
                        <div><img src="./../images/cast/movie-1-cast-4.jfif" alt="movie-cast"></div>
                        <p>Kate Mckinnon</p>
                    </div>
                    <div class="actors">
                        <div><img src="./../images/cast/movie-1-cast-5.jfif" alt="movie-cast"></div>
                        <p>Keanu Reeves</p>
                    </div>
    
                </div>
            </div>
        </div>
        

        
    </main>
    <script src="./../js/script.js"></script>
</body>

</html>