<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/style.css">
    <title>🌌 MovieBinge | Get your favourite movies</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                🌌
            </div>
            <div class="title">
                <p>MovieBinge</p>
            </div>
            <div id = "account" class="user">
                <div class = "link">
                    <a href="#">Login</a>&nbsp; &nbsp; &nbsp;
                    <a href="#">SignUp</a>
                </div>
                <div class="profile">
                    Hello! Sourabh 😊
                </div>
            </div>
        </nav>
    </header>
    <main class = "main">
        <div class="card-container">
            <div class="card">
                <div class = "card-hero">
                    <img src="./../images/movie-1-poster.jpg" alt="movie-poster">
                </div>
                <div class = "card-title">
                    DC League of Super Pets
                </div>
                <div class = "card-info">
                    <div class = "rating">7.5 Imdb ⭐⭐⭐⭐</div>
                    <div class = "duration">1hr 45min</div>
                </div>
                <div class = "description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis repellat cum ad officia rem.....</div>
                <button type="button" class = "more">Know More</button>
            </div>
            
            <div class="card">
                <div class = "card-hero">
                    <img src="./../images/movie-1-poster.jpg" alt="movie-poster">
                </div>
                <div class = "card-title">
                    DC League of Super Pets
                </div>
                <div class = "card-info">
                    <div class = "rating">7.5 Imdb ⭐⭐⭐⭐</div>
                    <div class = "duration">1hr 45min</div>
                </div>
                <div class = "description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis repellat cum ad officia rem.....</div>
                <button type="button" class = "more">Know More</button>
            </div>

            <div class="card">
                <div class = "card-hero">
                    <img src="./../images/movie-1-poster.jpg" alt="movie-poster">
                </div>
                <div class = "card-title">
                    DC League of Super Pets
                </div>
                <div class = "card-info">
                    <div class = "rating">7.5 Imdb ⭐⭐⭐⭐</div>
                    <div class = "duration">1hr 45min</div>
                </div>
                <div class = "description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis repellat cum ad officia rem.....</div>
                <button type="button" class = "more">Know More</button>
            </div>

            <div class="card">
                <div class = "card-hero">
                    <img src="./../images/movie-1-poster.jpg" alt="movie-poster">
                </div>
                <div class = "card-title">
                    DC League of Super Pets
                </div>
                <div class = "card-info">
                    <div class = "rating">7.5 Imdb ⭐⭐⭐⭐</div>
                    <div class = "duration">1hr 45min</div>
                </div>
                <div class = "description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis repellat cum ad officia rem.....</div>
                <button type="button" class = "more">Know More</button>
            </div>
        </div>
    </main>
</body>

</html>